.profile-page-container {
  min-height: 100vh;
  height: 100%;
  display: flex;
  /* align-items: center; */
}

.profile-left-section {
  position: sticky;
  top: 0px;
  left: 0px;
  height: 100vh;
  max-height: 100vh;
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 2px solid var(--purple);
}

.profile-img-section img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  margin-bottom: 1rem;
  box-shadow: 0 0 10px 1px var(--purple);
}

.user-item {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
}

.user-info-section .name {
  font-size: 2.5rem;
  font-weight: 600;
}

.profile-right-section {
  display: flex;
  flex-direction: column;
  padding: 50px;
  overflow-y: scroll;
}

.profile-update-btn-container {
  position: relative;
  margin-bottom: 1rem;
}

.profile-update-btn {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  color: var(--white);
  background-color: var(--purple);
  box-shadow: 0 0 5px 1px var(--purple);
  border: none;
  outline: none;
  border-radius: 0.25rem;
  position: absolute;
  right: 0px;
}

.profile-update-btn:hover {
  box-shadow: 0 0 10px 2px var(--purple);
}

.profile-about-section {
  margin-bottom: 1.5rem;
}

.previous-all-post-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.previous-post-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 30%;
  width: 30%;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px 1px var(--purple);
}

.previous-post-card .userinfo-item {
  font-size: 0.85rem;
}

.puf-container {
  margin-top: 2rem;
}
